$white: #ffffff;
$links: #7b7b7b;
$bg: #fef7f0;
$default: #a3bbc8;
$box-shadow: 0 0.5rem 1rem rgba(#000, 0.15) !default;


%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: "Rubik-Bold", sans-serif;
  font-weight: 700;
}


%roboto-400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

%roboto-700 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
