@import "home/portfolio";
@import "home/top";
@import "home/about";
@import "home/skills";
@import "home/process";
@import "home/connection";

.myphoto {
  height: 777px;
  width: 100%;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;

  @include _1024 {
    height: 540px;
  }

  @include _560 {
    height: 300px;
  }

  @include _425 {
    height: 240px;
  }
}

.slick-track {
  display: flex;
}
