@import "home/portfolio";

.top {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;

  @include _1024 {
    height: 12%;
  }

  &__content {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 26px;
    color: red;
    margin-bottom: 60px;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 72px;
    color: #fff;
    @extend %roboto-400;
  }

  &__title {
    font-size: 40px;
    color: red;
    @extend %roboto-700;
  }
}

.about {
  padding: 120px 0 80px;

  &__inner-title,
  &__inner-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 10px;
    line-height: 1.6;
    text-align: justify;
  }
}

.myphoto {
  height: 777px;
  width: 100%;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

.skills {
  padding: 120px 0 100px;

  &__inner-title {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      display: block;
      margin-left: 20px;
      background-image: url("../images/sprite.svg#brain");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: deepskyblue;
      width: 50px;
      height: 50px;
      margin-top: -5px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__item {
    margin-left: 16%;
    margin-bottom: 15px;
    padding-left: 20px;

    &:first-child {
      margin-top: 15px;
    }

    &::before {
      content: "content: ' > '";
      width: 15px;
      height: 15px;
      margin-right: 15px;
      padding: 13px 13px 8px;
      color: green;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title-box {
    font-size: 24px;
    color: #757575;
    text-transform: uppercase;
    text-align: center;
    @extend %roboto-400;
  }

  &__certificats {
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__img-certificat {
    height: 250px;
    &--from {
      height: 250px;
    }
  }
}

.process {
  padding: 100px 0;
  background-color: #f8f8f8;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      margin-top: -5px;
      margin-left: 20px;
      background-image: url("../images/sprite.svg#process");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: rgb(51, 232, 87);
    }
  }

  &__title-img {
    display: block;
    width: 150px;
    padding: 5px;
    font-size: 15px;
    line-height: 1.4;
    color: brown;
    text-align: center;
    @extend %roboto-400;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 60px 0;

    @include _1024 {
      flex-wrap: wrap;
      
    }
  }

  &__inner-code,
  &__inner-codeend,
  &__codebox {
    display: flex;
    flex-direction: column;
  }

  &__line {
    position: absolute;
    width: 100%;
    max-width: 1170px;
    height: 50px;
    margin: -30px auto 10px;
    margin-top: 132px;
    border: none;
    padding: 0;
    border-bottom: 50px solid rgb(49, 95, 125);
    box-shadow: 0 20px 20px -20px #333;

    @include _1024 {
      display: none;
    }
  }

  &__item {
    @include _1024 {
      margin: 0px auto;
      margin-bottom: 80px;
    }

    &:not(:last-child) {
      margin-right: 40px;

      @include _1024 {
        margin-right: 0;
      }
    }
  }

  &__img-box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(183, 214, 235);
    border-radius: 15px;
    box-shadow: 0 1px 4px rgb(58, 86, 122),
      -23px 0 20px -23px rgba(53, 89, 134, 0.8),
      23px 0 20px -23px rgba(74, 107, 136, 0.8),
      0 0 40px rgba(98, 127, 157, 0.1) inset;

    -webkit-box-shadow: 0 1px 4px rgb(58, 86, 122),
      -23px 0 20px -23px rgba(53, 89, 134, 0.8),
      23px 0 20px -23px rgba(74, 107, 136, 0.8),
      0 0 40px rgba(98, 127, 157, 0.1) inset;
  }

  &__cut {
    width: 100px;
    height: 80px;
  }

  &__adapt {
    padding: 18px;
  }

  &__inte {
    fill: #757575;
    padding: 16px;
    margin-bottom: 20px;
    margin-left: -22px;
  }

  &__danger {
    fill: #757575;
    padding: 13px;
  }

  &__html,
  &__css {
    height: 138px;
    margin-right: 22px;
    margin-bottom: 16px;
    padding: 3px;
  }

  &__subtitle {
    padding: 30px 0;
    font-size: 26px;
    color: #757575;
    text-align: center;
    @extend %roboto-400;
  }
}

.slick-track {
  display: flex;
}

.connection {
  padding: 100px 0 60px;

  &__title {
    margin-bottom: 125px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 209px;
  }

  .connection__list {
    display: flex;
    justify-content: center;
  }

  &__link {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #242121;
    &:hover {
      color: #00b2a0;
    }
  }

  &__item + .connection__item {
    margin-left: 15px;
  }
}

.contact {
  flex-grow: 1;
  min-height: 460px;
  margin-top: 20px;
  padding-top: 49px;
  padding-left: 52px;
  font-style: normal;
  background-color: #f8f8f8;

  &__text {
    max-width: 325px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
  }

  &__text--item {
    margin-bottom: 65px;
  }
}

.form {
  flex-grow: 1;
  margin-left: 31px;
  & input {
    margin-bottom: 17px;
  }

  &__btn {
    display: block;
    max-width: 350px;
    margin-top: 73px;
    padding: 24px 115px 23px;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    cursor: pointer;
  }
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 16px 0;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-bottom: 2px solid #dadada;
}

.form input::placeholder,
.form textarea::placeholder {
  max-width: 260px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #00b2a0;
}

.form textarea {
  min-height: 192px;
  padding-top: 40px;
  resize: none;
}

.form input:focus {
  outline: dotted var(--outline-color);
}

.form textarea:focus {
  outline: dotted var(--outline-color);
}
