.portfolio {
  margin-bottom: 57px;
  padding-top: 30px;
  

  &__wrapper {
    // width: 100%;
    background-color:$white;
    // height: 800px;
    // opacity: 0.9;
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
    // object-fit: cover;

    // @include _560 {
    //   height: 1135px;
    // }
    // @include _425 {
    //   height: 1200px;
    // }
  }

  &__box-img {
    margin-bottom: 10px;
    width: auto;
    // height: 50px;
    background-color: #fff;
    // box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);

    @include _560 {
      margin-bottom: 0;
      width: 500px;
      background-color: transparent;
      box-shadow: none;
    }

    @include _425 {
      width: 393px;
    }
  }

  &__title {
    margin-bottom: -25px;
    padding: 4px;
    color: #505559;

    @include _560 {
      padding: 20px;
      color: $white;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -30px;
    margin-bottom: 81px;
    // max-height: 570px;
    // overflow-x: hidden;

    @include _1200 {
      justify-content: space-evenly;
      margin-right: 0;
    }

    @include _560 {
      max-height: 850px;
    }

  }
}
