.card-portfolio {
  // position: relative;
  width: 100%;
  max-width: 370px;
  // max-height: 250px;
  margin: 0 30px 35px 0;
  background-color: white;

  @include _1200 {
    margin: 0 0 35px 0;
  }

  @include _768 {
    max-width: 310px;
  }

  @include _560 {
    max-width: 225px;
    max-height: 200px;
  }

  @include _560 {
    max-width: 325px;
  }

  // &:hover {
  //   box-shadow: $box-shadow;

  // .card-portfolio__popup {
  //   transform: translateX(0%);
  //   opacity: 1;

  //   &:hover {
  //     .card-portfolio__sublist {
  //       display: inline-block;
  //     }
  //   }
  // }

  // &__popup {
  //   transform: translateY(-200%);
  //   opacity: 0;
  // }

  &__item {
    height: 30px;
    margin: 5px 5px 5px 0;
    padding: 5px 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;

    // &:hover {
    //   text-decoration: underline;
    // }
  }

  &__lnk {
    color: #494e52;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    z-index: 2;
    transition: opacity 0.6s;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 1px solid #00c6ff;
    background-color: transparent;
  }

  &__image .card-portfolio__img {
    width: 100%;
    height: auto;
    transform: translateY(0px);
  }

  &__image:hover .card-portfolio__img {
    transform: translateY(calc(-100% + 300px));
  }
}
