.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 8px 6px -6px grey;
  z-index: 10;

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0 25px;
  }

  &__popup {
    display: none;
  }
}

.menu {
  margin-left: -16%;

  @include _1200 {
    position: fixed;
    top: 87px;
    left: 96%;
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    transition: 0.5s;
    transform: translateX(200%);
    z-index: 1;
  }

  @include _560 {
    left: 90%;
    width: 33%;
  }

  @include _375 {
    left: 81%;
    width: 45%;
  }
  
  &--active {
    transform: translateX(0%);
  }

  &__list {
    display: flex;

    @include _1200 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      height: 40%;
      padding-left: 50px;
    }

    @include _560 {
      padding-left: 0;
    }
  }

  &__link {
    font-size: 20px;
    color: #494e52;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.menu-nav {
  display: flex;
  &__btn {
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 80px;
    padding-bottom: 6px;
    background-color: #505559;
    border: none;
    border-radius: 50%;
    display: none;

    @include _1200 {
      display: none;
    }
  }
  &__find {
    width: 18px;
    height: 18px;
    margin-top: 8px;
    fill: #cacfc9;
  }

  &__popup {
    display: none;

    @include _1200 {
      display: inline;
      width: 60px;
      height: 60px;
      margin-top: -15px;
      margin-bottom: -15px;
      margin-right: 40px;
      padding-bottom: 6px;
      background-color: #505559;
      border: none;
      border-radius: 50%;
    }

    @include _425 {
      margin-right: 0;
    }
  }

  &__ellipse {
    width: 25px;
    height: 25px;
    margin-top: 11px;
    fill: white;
  }
}
