<article class="card-portfolio mix category-a" href="#">

  <img class="card-portfolio__img" src="images/content/portfolio/wawe.jpg" alt="image wawe">

  <a class="card-portfolio__link" href="http://wawe.chekhunov.info/" target="_blank">Сlick areas</a>

</article>

<article class="card-portfolio mix category-a" href="#">

  <img class="card-portfolio__img" src="images/content/portfolio/marketing.jpg" alt="image marketing">

  <a class="card-portfolio__link" href="http://marketing.chekhunov.info/" target="_blank">Сlick areas</a>

</article>

<article class="card-portfolio mix category-b" href="#">

  <img class="card-portfolio__img" src="images/content/portfolio/glee.jpg" alt="image glee">

  <a class="card-portfolio__link" href="http://glee.chekhunov.info/" target="_blank">Сlick areas</a>

</article>

<article class="card-portfolio mix category-b" href="#">

  <img class="card-portfolio__img" src="images/content/portfolio/marcho.jpg" alt="image glee">

  <a class="card-portfolio__link" href="http://marcho.chekhunov.info/" target="_blank">Сlick areas</a>

</article>
