<article class="card-portfolio mix category-a" href="#">

  <img class="card-portfolio__img" src="images/content/portfolio/wawe.jpg" alt="image wawe">

  <a class="card-portfolio__link" href="http://wawe.chekhunov.info/" target="_blank">Сlick areas</a>

  <ul class="card-portfolio__popup">
    <li class="card-portfolio__item">
      <a class="card-portfolio__lnk" href="#wawe-modal" rel="modal:open">
        Использовал в проекте
      </a>
      @@include('../components/_modal-backcall.html')
    </li>
  </ul>

</article>

<article class="card-portfolio mix category-a" href="#">

  <img class="card-portfolio__img" src="images/content/portfolio/marketing.jpg" alt="image marketing">

  <a class="card-portfolio__link" href="http://marketing.chekhunov.info/" target="_blank">Сlick areas</a>

  <ul class="card-portfolio__popup">
    <li class="card-portfolio__item">
      <a class="card-portfolio__lnk" href="#marketing-modal" rel="modal:open">
        Использовал в проекте
      </a>
      @@include('../components/_modal-marketing.html')
    </li>
  </ul>

</article>

<article class="card-portfolio mix category-a" href="#">

  <img class="card-portfolio__img card-portfolio__img--suntour" src="images/content/portfolio/suntour.jpg"
    alt="image suntour">

  <a class="card-portfolio__link" href="http://suntour.chekhunov.info/" target="_blank">Сlick areas</a>

  <ul class="card-portfolio__popup">
    <li class="card-portfolio__item">
      <a class="card-portfolio__lnk" href="#suntour-modal" rel="modal:open">
        Использовал в проекте
      </a>
      @@include('../components/_modal-suntour.html')
    </li>
  </ul>

</article>

<article class="card-portfolio mix category-b" href="#">

  <img class="card-portfolio__img" src="images/content/portfolio/glee.jpg" alt="image glee">

  <a class="card-portfolio__link" href="http://glee.chekhunov.info/" target="_blank">Сlick areas</a>

</article>

<article class="card-portfolio mix category-b" href="#">

  <img class="card-portfolio__img" src="images/content/portfolio/marcho.jpg" alt="image glee">

  <a class="card-portfolio__link" href="http://marcho.chekhunov.info/" target="_blank">Сlick areas</a>

</article>

<article class="card-portfolio mix category-c" href="#">

  <img class="card-portfolio__img" src="images/content/portfolio/bigstore.png" alt="image bigstore">

  <a class="card-portfolio__link" href="http://ibigstore.chekhunov.info/" target="_blank">Сlick areas</a>

</article>