<div id="suntour-modal" class="modal-box">

  <div class="backcall">

    <span class="modal-title">

      С чем я его готовил

    </span>

    <ul class="backcall__form" action="#">
      <li class="backcall__label">
        _Gulp (svg-sprite, slick-slider, mixitup, jquery-modal, jquery-rateyo, footable, hyphen)
      </li>
      <li class="backcall__label">
        _Reset - style
      </li>
      <li class="backcall__label">
        _Jquery
      </li>
      <li class="backcall__label">
        _Scss
      </li>
      <li class="backcall__label">
        _PixelPerfect
      </li>
      <li class="backcall__label">
        _БЭМ
      </li>
      <li class="backcall__label">
        Количество страниц сайта - 1
      </li>
      <li class="backcall__label">
        Количество брейкпоинтов - 3
      </li>
      <li class="backcall__label">
        <a class="backcall__lnk" href="https://github.com/chekhunov/suntour" target="_blank">Исходный код проекта</a>
      </li>
    </ul>

  </div>

</div>